<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <div class="logo-text">
            <h3>Logo</h3>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, nihil quidem doloremque a cum earum quaerat
        blanditiis excepturi eaque molestias omnis numquam maxime facilis magnam enim doloribus quisquam ipsam vitae.
    </p>


</body>

</html>